/*font-family: "Raleway",sans-serif;
font-family: "Roboto",sans-serif;*/

/*body {
font-family: "Roboto", sans-serif;
color:#434455;
background-color: #fff;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0 ;
  text-decoration: none;
}


a {
text-decoration: none;
}*/
/*-----common--------*/
/*.container {
 max-width: 1158px;
 padding: 0 15px;
 margin: 0 auto ;
box-sizing: border-box;
}
.section {
    padding:120px;
}
*/
/*-----header--------*/

/*.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
    
   margin-right:76px;
}

.header-logo .logo-part {
    
    color: #2e2f42;

}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #2e2f42;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {      
position: relative;   
}

.nav-link.current::after {
content:'';
position: absolute;
width:100%;
height:4px;
left: 0;
bottom: -1px;
border-radius: 2px;
background-color:#404bbf;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    color: #434455;
}
.contacts-item {
    color: #434455;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover,
.nav-item:focus,
.contacts-item:hover,
.contacts-item:focus {
    background-color: #fff;
    color: #434455;
    cursor: pointer;

} 
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
 .nav-link.current  {
    background-color:#fff;
    color: #404bbf;
    cursor: pointer;
}*/

/*----------------H1 section---------------*/

.main-title {
    background-color:#2e2f42;
    padding-bottom: 188px ;
    padding-top: 188px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     
}
/*img {
    display: block;
    max-width: 100%;
    height: auto;
}*/

.page-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        max-width: 1440px;
        color: #fff;
        max-width: 496px;
         
         
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}
 
.order-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color:#FFFFFF;
    padding: 16px 32px;
    margin:   0 auto;
    margin-top: 48px  ;
    text-align: center;
    border-radius: 4px;
    display: block;
    height: 56px;
    border: none;
    cursor: pointer;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*-----Features------*/


.features {
    padding: 120px 0;
}
 .container-features {
    display: flex;
    gap: 24px;
}
.features-icon-container {
     
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        display: flex;
        justify-content: center;
        align-items: center;
         

}
 
 .features-item {
 box-sizing: border-box;
 width: calc((100% - 72px) / 4);
}  
.features-list {
     
    display: flex;
    gap: 24px;
}
.icon-features {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
     
}
/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}*/




/* -------Our Team ----------*/


.our-team {
background-color:#F4F4FD;
padding: 120px 0;
}

.our-team-item {
background-color: #F4F4FD;
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.icon-link-list {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

}
a {
    text-decoration: none;
}
 

svg {
    display: block;
    
}
.icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
fill: #f4f4fd;
 

}
.team-soc-icon:hover,
.temm-soc-icon:focus,
.icon-link:hover,
.icon-link:focus  {
 background-color: #404bbf;
 color: #4d5ae5;
 cursor: pointer;
}
.icon-features {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;   
    margin-bottom: 8px;
    }

.features-icon-container {
    width: 64px;
    height: 64px;
 }
.icon-list-item {
     
    display: flex;
    width: 40px;
    height: 40px; 
}
.teammemb {
padding: 32px 0;
text-align: center;
 
background-color: #FFFFFF;
}
.teammemb {
padding: 32px 0;
text-align: center;
 
background-color: #FFFFFF;
}
.teammemb {
padding: 32px 0;
text-align: center;
 
background-color: #FFFFFF;
}
.teammemb {
padding: 32px 0;
text-align: center;
 
background-color: #FFFFFF;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background-color: #F4F4FD;
  margin-bottom: 72px;
}

.our-team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 8px;
}

.our-team-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
 
}
.our-team-img {
    display: block;
    max-width: 100%;
    height: auto;
     
}

.our-team-list {
    background-color: #F4F4FD;
    display: flex;
    gap: 24px;
}
/*-------------Our Portfolio-----------*/

.our-portfolio {
    background-color:#FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;

}

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-portfolio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.our-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
     
} 
.team-portfolio-overlay {
overflow: hidden;
position: relative;
}
.menu-overlay {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 24px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 32px;
        padding-left: 32px;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .our-portfolio-item:hover .menu-overlay{
transform:translateY(0);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .our-portfolio-item:hover {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
 }

 .team-photocard {
    display: block;
        max-width: 100%;
        object-fit: cover;
 }
.container-sub-ittext  {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;

}
.our-text {
    margin-bottom: 8px;
}
.our-portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.our-portfolio-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*-------------Footer-------------*/
ul {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
list-style: none;
}

.footer-lab {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

}

.inpform {
    font-weight: 400;
    font-size: 12px;
    line-height:2;
    letter-spacing: 0.04em; 

    color: #fff;
     
    padding-left: 16px;
     
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;

    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

 
 
.page-footer {
    background-color:#2e2f42;
    padding-top: 100px ;
    padding-bottom: 100px;
}
.container-footer {
    display: flex;
    align-items: baseline;
    
    
}
.container {
    max-width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
     
}
.container-contentfooter {
    margin-right: 120px;
    
}
 
 .logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;   
}
 .footer-logo {
  display: inline-block;
  margin-bottom: 16px;
 }

 /*.footer-logo .logo-part {
    color: #f4f4fd;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
 }*/
    
.footer-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align:inherit;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;   
}

.social-subtitle {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 16px;
}
.foot-soc-list {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
.foot-soc-item {
    display: flex;
    width: 40px;
    height: 40px;

}
.foot-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-link:hover,
.foot-soc-link:focus,
.foot-soc-icon:hover,
.foot-soc-icon:focus {
color: #4d5ae5;
background-color: #31d0aa;

}
.foot-soc-icon {
   fill:#f4f4fd;
}
.container.social-container {
    max-width: 208px;
    height: 40px;
    width: 40px;
     
 }
.footer-formcontainer {
    max-width: 208px;
    width: 453px;
    height: 80px;
    margin-right: auto;
    margin-left:  80px ;
}
.text-subscr {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-form {
    display:flex;
    gap: 24px;
     
}

.form-button {
     
    display: flex;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;  
    height: 40px;
    background-color: #4d5ae5;
    color:#fff;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
    cursor: pointer;

}
.send-icon {
    fill: #fff;
    margin-left: 16px;
}



 /*-------------Modal-------------*/

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit;
    margin:0 auto;

}
svg {
    display: block;
}
 
input:checked+label>span {
     
    background-color:#4D5AE5;
    border: none;
    fill: #F4F4FD;
}
.p-policy input[type="checkbox"]:checked + label span {
     background-color: #404bbf;
     fill: #f4f4fd;
     border: none;
 }
 
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity:0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.backdrop:not(.is-open) .modal {
        transform:translate(-50%, -50%);
  }

.modal {
    position: absolute;
    top:50%;
    left:50%;
    padding: 72px 24px 24px 24px;
     
    width:408px;
    min-height: 584px;
    border-radius: 4px;

    transform:translate(-50% ,-50%);

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color:#fcfcfc;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
         
}
 
.close-button:hover .modal-icon {
    fill: #ffffff;
}
.close-button:focus .modal-icon {
    fill: #ffffff;
}
.close-button:hover,
.close-button:focus {
      
 background-color:#404bbf;
 border: none;
      
}
.modal-icon {
    fill: #2e2f42;
    margin: auto auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
} 

.modal-contact-container:focus-within {
fill: #4D5AE5;
} 
.modal-contact-container{
margin-bottom: 8px;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;

}

.mod-user {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    
    padding-left: 38px;
    padding-right: 24px;

    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.modal-label-text:focus  {
    border-color: #4D5AE5; 
      
}
.mod-user>.modal-label-text:focus {
border-color: #4D5AE5;
}


.user-comment{
    margin-bottom: 16px;
}
.modal-contact-container {
    margin-bottom: 8px;
}
.modal-label {
    margin-bottom: 4px;
}
.input-icon {
    position: relative;
    
}
.user-soc-icon {
    
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 
.mod-user:focus {
border-color: #4d5ae5;
}

.modal-label-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-label-text {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.modal-checkbox-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.p-policy {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px; 
}

 
.modal-label-pp {
    
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;

    display: block;
    align-items: center;
    
    margin-bottom: 4px;
}
 
.modal-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
 

 
.user-icon:focus {
    background-color: #4d5ae5;
    fill: #F4F4FD;
}


 
.send-button:hover, 
.send-button:focus {
background-color: #404bbf;
 
}

.send-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    border:none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/*container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}*/